/* Products.module.css */

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 30px;
  text-align: center;
}

.addProductSection {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input,
.textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.textarea {
  height: 100px;
  resize: none;
}

.button {
  padding: 10px 20px;
  background-color: #0070f3;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 200px;
  margin-top: 10px;
}

.button:hover {
  background-color: #005bb5;
}

.deleteButton {
  background-color: #ff4d4f;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 200px;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.productList {
  list-style-type: none;
  padding: 0;
}

.productItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.productDetails {
  display: flex;
  flex-direction: column;
}

.productDetails h3 {
  margin: 0;
  font-size: 1.2rem;
}

.productDetails p {
  margin: 5px 0;
  font-size: 1rem;
  color: #666;
}

.productImage {
  width: 150px;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.actions {
  display: flex;
  gap: 10px;
}
