/* Ajustar el padding de la Navbar para que coincida con el de .App_main */

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1rem 20rem; /* Mismo padding que .App_main */
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.Navbar_logo {
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease;
}

.Navbar_logo:hover {
  color: #0070f3;
}

.Navbar_nav {
  display: flex;
  gap: 1.5rem;
}

.Navbar_txt_2 {
  font-size: 1rem;
  color: white;
  text-transform: capitalize;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 0.6rem 1rem;
  border-radius: 0.3rem;
}

.Navbar_txt_2:hover {
  background-color: #333;
  color: #0070f3;
}

.rightSection {
  display: flex;
  gap: 1.5rem;
}

.icon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #0070f3;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .Navbar {
    flex-direction: column;
    padding: 1rem;
  }

  .Navbar_logo {
    font-size: 1.5rem;
  }

  .Navbar_nav {
    gap: 1rem;
    margin-top: 1rem;
  }

  .rightSection {
    margin-top: 1rem;
    gap: 1rem;
  }
}
